* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
	color: #222;
}

body {
	background-color: #d3d3d3;
}

.userinfo {
	width: 100%;
	height: 15.3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
}

.userinfo-avatar {
	width: 8rem;
	height: 8rem;
	border: 2px solid #fff;
	border-radius: 50%;
	margin-top: 3rem;
}

.ckme {
	width: 100%;
	height: 6rem;
	background-color: #0c9;
	text-align: center;
	line-height: 6rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.ckme .meWallet01 {
	margin-left: 1.5rem;
	color: #fff;
	font-size: 1.5rem;
}

.log-list {
	margin-top: 1rem;
}

.log-list .ordering {
	width: 100%;
	height: 3.9rem;
	background-color: #fff;
	border-bottom: 1px solid #d3d3d3;
	line-height: 3.9rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.txtLeft {
	padding-left: 1.5rem;
	font-size: 1.4rem;
}

.txtRight {
	padding-right: 1.5rem;
}

.footer-del {
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	font-size: 1.6rem;
	position: fixed;
	bottom: 1rem;
	left: 0;
	text-align: center;
}