* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    color: #222;
}

body {
    background-color: #ccc;
}

.viewH {
    padding: 1rem 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.viewH img {
    margin-left: 1.5rem;
}

.viewV {
    color: #999;
    margin-left: 1rem;
    flex: 1;
    float: left;
    width: 70%;
}

.bottom {
    display: flex;
    align-items: center;
    position: relative;
    height: 3rem;
    line-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bottom_distance {
    position: absolute;
    right: 1.5rem;
}

.item_img {
    position: absolute;
    left: 35%;
}

.weui_cell_bd_p1 {
    position: absolute;
    left: 14%;
}

.weui_cell_bd_p2 {
    position: absolute;
    left: 50%;
}

.weui_cell_bd_p3 {
    width: 90%;
    margin-left: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bottom_textview {
    width: 65%;
    font-size: 1.6rem;
    margin-left: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.weui_cell_bd_p {
    font-size: 1.6rem;
    color: #939393;
}

.loading {
    width: 15.4rem;
    height: 11.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

